[submodule "tree/tree-contracts"]
	path = tree/tree-contracts
	url = https://github.com/WhalerDAO/tree-contracts
[submodule "LexDAO/LexCorpus"]
	path = LexDAO/LexCorpus
	url = https://github.com/lexDAO/LexCorpus
[submodule "DeFi777/DeFi777"]
	path = DeFi777/DeFi777
	url = https://github.com/carlfarterson/defi777
