[submodule "tree/tree-contracts"]
	path = WhalerDAO/tree-contracts
	url = https://github.com/WhalerDAO/tree-contracts
[submodule "LexDAO/LexCorpus"]
	path = LexDAO/LexCorpus
	url = https://github.com/lexDAO/LexCorpus
[submodule "BlockArt/blockart-contracts"]
	path = BlockArt/blockart-contracts
	url = git@github.com:adrianleb/blockart-contracts
